*.swp
*.env
passwords.conf
nginx_routing.conf
*.mib

old/*

*.tar.gz

_site/*
.sass-cache/*
Gemfile.lock
*.gem
vendor
serviceTable.md
influxbackupdump

mibs/

hancon.js
SpyCamera/config/picamSettings.conf
Ultimonitor/config/ultimonitor.conf
