*.swp
*.env
passwords.conf
nginx_routing.conf
*.mib

old/*

*.tar.gz

_site/*
.sass-cache/*
Gemfile.lock
*.gem
vendor
serviceTable.md
influxbackupdump

mibs/

hancon.js
SpyCamera/config/index.html
SpyCamera/config/nginx-app.conf
SpyCamera/config/picamSettings.conf
MesaTools/onewireTemps/config/dbconfig.conf
MesaTools/onewireTemps/logs/*
Ultimonitor/config/ultimonitor.conf
